* {
 margin: 0;
 padding: 0;
 
 
}


.navigations {
 padding: 5px 50px;
 align-items: center;
 display: flex;
 justify-content: space-between;
 background-color: rgb(54, 14, 14);

}

.section {
 display: grid;
 justify-content: center;
 margin: 50px;
}

.home {
 position: relative;
 width: 100%;
}

.home img {
 width: 100%;
 display: block;
}

.home-text {
 padding: 60px;
 position: absolute;
 color: #FAF3E0;
 top: 11%;
 width: 30%;
 justify-content: space-between;
 
}

.hometoptext {

}

.homesubtext {
    
    margin-top: 30px;
    line-height: 20px;
}
.homebtn {
    color: white;
 margin-top: 50px;
 padding: 0px;
 width: 100px;
 height: 50px;
 border-radius: 7px;
 border: 5px solid black;
 background-color: rgb(66, 13, 13);
}

.about {
    display: flex;
    justify-content: space-between;
    line-height: 35px;
    
}

.aboutpic {
    padding: 100px;

}

.abouttext h1 {
    margin-bottom: 40px;
    font-size: 50px;
}
.abouttext {
    padding: 100px;
    width: 35%;
    color: #3E2723;
   

}
.aboutbutton {
    width: 100px;
    height: 28px;
    margin-top: 40px;
}



.services {
    gap: 50px;
}



.topservice {
    
    justify-content: center;
    display: flex;
    gap: 50px;
}

.bottomservice {
justify-content: center;
display: flex;
gap: 50px;
}


.S1 {
    padding: 2px;
    margin: 10px;
    display: grid;
    border: 15px solid;
    border-color: rgb(221, 218, 218);
    gap: 30px;
    justify-content: center;
    border-radius: 10px;
    
}
.s1text {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 30px;
    color: #e03411;
    font-weight: bold;
}

.product {
    display: flex;
    justify-content: center;
    
}

.producttext {
    text-align: center;
    margin: 50px 0;

}

.productpic {
    margin: 150px 45px;
    border-radius: 5px;
}

.contact {
    margin: 150px 150px;
    line-height: 30px;
}