* {
 margin: 0;
 padding: 0;
 
 
}


.navigations {
 padding: 14px 100px;
 align-items: center;
 display: flex;
 justify-content: space-between;
 background-color: rgb(54, 14, 14);
 color: #FFFDD0;

}

.navigations a {
    color: #FFFDD0;
}

.section {
 display: grid;
 justify-content: center;
 margin: 50px;
}

.home {
 position: relative;
 width: 100%;
}

.home img {
 width: 100%;
 display: block;
}

.home-text {
 padding: 92px;
 position: absolute;
 color: #FFFDD0;
 top: 11%;
 width: 30%;
 justify-content: space-between;
 
}


.homesubtext { 
    margin-top: 30px;
    line-height: 20px;
}

.homebtn {
    color: white;
 margin-top: 50px;
 padding: 0px;
 width: 100px;
 height: 50px;
 border-radius: 7px;
 border: 5px solid black;
 background-color: rgb(66, 13, 13);
}

.about {
    display: flex;
    justify-content: space-between;
    line-height: 35px;
    margin-top: 70px;
    gap: 75px;
    
}

.aboutpic {
    margin-left: 100px;
    
}

.abouttext h1 {
    margin-bottom: 20px;
    font-size: 45px;
    
}
.abouttext {
     display: grid;
    color: #3E2723;
    margin-right: 80px;
    font-size: 22px;
   

}
.aboutbutton {
    width: 100px;
    height: 28px;
    margin-top: 40px;
}



.services {
    gap: 60px;
}

.services h1 {
    color: #3E2723;
    font-size: 45px;
    margin-top: 100px;
}


.topservice {
    
    justify-content: center;
    display: flex;
    gap: 50px;
}

.bottomservice {
justify-content: center;
display: flex;
gap: 50px;
}


.S1 {
    padding: 2px;
    margin: 10px;
    display: grid;
    border: 15px solid;
    border-color: rgb(221, 218, 218);
    gap: 30px;
    justify-content: center;
    border-radius: 10px;
    
}
.s1text {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 30px;
    color: #e03411;
    font-weight: bold;
}

.products {
    display: flex;
    justify-content: center;
    
}

.producttext {
    text-align: center;
    margin: 40px 20px;

}

.productpic {
    margin: 30px 110px;
    border-radius: 5px;
}


.product h1 {
     color: #3E2723;
    font-size: 45px;
    margin-top: 100px;
}

.headcontact h1 {
    display: flex;
    justify-content: center;
    
}
.contact {
    margin: 80px 250px;
    line-height: 0px;
    display: grid;
    height: 0px;
    gap: 0px;
}
.contactheader h4 {
    line-height: 10px;
}

.contact h1 {
     color: #3E2723;
    font-size: 45px;
    margin-top: 100px;
}

.contactpic {
margin: 0;
padding: 0;
    
}

.contactheader {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;

    
}


.topcontact {
display: flex;
 gap: 280px;


}

.bottomcontact {
display: flex;
gap: 200px;

}

.contacttext {
line-height: 40px;
font-size: 22px;
}



.contactbutton {
    color: white;
 border-radius: 7px;
 border: 5px solid black;
 background-color: rgb(66, 13, 13);
}